@font-face { font-family: OldEnglish; src: url(''); }

body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Courier New";
}

a {
    color: grey;
    text-decoration: none;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    border-bottom: solid 4px #990000;
}

.header .navitem {
    margin: 20px;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.header .navitem:hover {
    color: grey;
}

.header img {
    height: 2rem;
}

.banner {
    padding: 20px;
    background-image: url('img/dfr_dark.png');
}

.cta p {
    font-size: 1.5rem;
    font-weight: bold;
}

.logoimage {
    max-width: 1000px;
}

.button {
    color: white;
    background-color: black;
    border: solid 3px #990000;
}

.content {
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

.heading {
    font-family: Serif;
    border-bottom: solid 2px #990000;
}

#shows td {
    font-size: 1rem;
    padding: 10px;
}

#shows img {
    height: 1rem;
}

#press img {
    width: 90%;
    margin: 10px;
}

#press .two-column img {
    width: 45%;
}

#contact img {
    height: 2rem;
}

#contact form input {
    width: 90%;
}

#contact form textarea {
    width: 90%;
    height: 10rem;
}
