
html {
  font-size: 100%;
}

body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Courier New";
}

a {
    color: grey;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: black;
    border-bottom: solid 4px #990000;
}

.header .navitem {
    margin: 20px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.header .navitem:hover {
    color: grey;
}

.header img {
    height: 1.5rem;
}

.banner {
    padding: 100px;
    background-image: url('img/dfr_dark.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner img {
    width: 95%;
    max-width: 1000px;
}

.cta label {
    font-size: 1.5em;
}

.cta input {
    height: 2.5em;
    font-size: 1.5em;
}

.cta button {
    height: 2.5em;
    font-size: 1.5em;
}

.logoimage {
    max-width: 1000px;
}

.button {
    color: white;
    background-color: black;
    border: solid 3px #990000;
    cursor: pointer;
}

.content {
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

.heading {
    font-family: Serif;
    border-bottom: solid 2px #990000;
}

#shows td {
    font-size: 1em;
    padding: 10px;
}

#shows img {
    height: 1em;
}

#press img {
    width: 90%;
    margin: 10px;
}

#press .two-column img {
    width: 45%;
}

#contact img {
    height: 2em;
}

#contact form input {
    width: 90%;
}

#contact form textarea {
    width: 90%;
    height: 15em;
}

#contact form button {
    width: 40%;
    min-width: 10em;
    margin-top: 5px;
}
